@charset "UTF-8";

body {
    background-color: #eb93c6af;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: #de168baf;
}

h1#principal {
    text-align: center;
    background-color: rgb(150, 219, 212);
    color: rgb(190, 47, 128);
}

h2 {
    color: #771d52af;
}

.basico {
    color: rgb(71, 127, 231);
}

.intermediario {
    color: rgb(24, 186, 154);
}

.avancado {
    color: rgb(148, 80, 222);
}

.destaque {
    background-color: rgb(255, 255, 255);
}
